html, body, #root {
  height: 100%;
  overflow: auto;
}
.form{
    padding: 32px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.date{
    width: "100%"
}

.submit-button{
    width: "100%";
    background-color: #743799;
    border: #743799;
}
.input-search{
    height: 33px;
}