
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  .add-button {
    background-color: #6d28d9;
    color: white;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .category-item {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .category-item:hover {
    background-color: #f0eaff;
  }
  
  .selected {
    background-color: #ede9fe;
    font-weight: 500;
  }
  
  .count {
    color: #888;
  }
  
  .main {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
  }
  
  .main h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description {
    margin-bottom: 20px;
    color: #666;
  }
  
  .add-type-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
  }
  
  .table th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .edit {
    color: #3b82f6;
  }
  
  .delete {
    color: #ef4444;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 15px; */
    /* margin-bottom: 1rem; */
  }

  .ghost-div{
    width: 33%;
  }

  /* .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  } */
  
  /* .add-category-btn {
    background-color: #1890ff;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    place-items: end; 
  } */
  
  /* .add-category-btn:hover {
    background-color: #40a9ff;
  } */
  